p, h1 {
font-family: 'Droid Sans', sans-serif;


}

/*NAVIGATION*/

.navbar {
background-color:#242424;
border-bottom:2px solid #b9b9b9;
font-family: 'Lato', sans-serif;
}

.navbar a {
color:#cccccc !important;


}

.navbar a:hover {
color:#ffffff !important;
background-color:#646464 !important;
}

.navbar-header .navbar-brand {
color:white !important;
font-size:1.5em;
}

/*HEADER*/

.header {
padding: 140px 0 60px 0;
/*background:url(../img/bg.jpg) no-repeat center center;*/
background-color:#00274c;
background-size: cover;
width: 100%;
border-bottom:2px solid #c9c9c9;
}

.header h1 {
color: white;
font-family: 'Helvetica', sans-serif;
font-size: 4em;
text-align: center;
}

.header p {
color: #FFFFFF;
font-size:1.3em;
text-align: justify;
padding-bottom:10px;

}

.header .btn {
padding:5px 50px 5px 50px;
border-radius:0px;
}

@media(max-width:768px) {

.header {
text-align:center;
padding-top: 10%;
}


.header h1 {
font-size:5em;
}
.header p {
font-size:1em;
}

.center-justified{
text-align: justify;
  margin: 0 auto;
  width: 30em;
}

.icon-justified{
  margin: auto;
  width: 30em;
}

.header .btn {
padding:5px 12px 5px 12px;

}

.header img {
padding:5px 12px 5px 20px;


}
.myCarousel{
  width:400px;
  height:400px;
  margin: 0 auto;
}
}

/*SPONSORS*/

.sponsors {
padding: 100px 0 100px 0;
text-align:center;

}
#logo {
background-color:#00274c; 
padding: 10px 10px 10px 10px;
}
#cscs {
background-color:#00274c; 
padding: 15px 10px 18px 10px;
}

#generous{
padding-bottom: 50px;
}

#sponsor_names {
font-size:150%;
	
}

.sponsors h1 {
font-size: 3em;
color:#00274c;
padding: 0 0 25px 0;
}

.sponsors p {
padding-top:10px;
padding-bottom: 10px;
font-size:150%;
}

/*TOPICS*/

.topics{
background-color:#00274c;
text-align:center;
color:#ffffff;
padding:90px 0 90px 0;

}

.topics h1 {
font-size:2em;
padding:25px;

}

.topics img {
padding: 25px 0 35px 0;

}
.topics p{
font-size:1em;	
}
/*Resources*/

.resources {
padding:100px 0 100px 0;
text-align:center;

}

.resources h1 {

font-size:2em;
padding:0 0 25px 0;
color:#00274c;
}


.resources .fa {
color:#1c3f5c;
padding: 20px 10px 50px 0;
}

.resources li {
padding-top: 10px;
}
/*CONTACT*/

.contact {
background-color:#242424;
color:#ffffff;
padding:30px 0 30px 0;
text-align:center;
}

.contact h1 {
font-family: 'Lato', sans-serif;
font-size:1.5em;
}

.contact p {
font-size0.9em;
color:#f2f2f2

}

.footer a {
color:#f2f2f2;

}

#myCarousel{
  border: 5px ridge #888;
}